#home {
  height: 100%;
  background-color: #222;
  background-position: center;
  background-size: contain;
}

.md-content {
  height: 100%;
}

.title {
  padding-top: 2.5vh;
}

.bg-color {
  padding: 10% 10% 5%;
  margin: 3.25%;
  background-color: indigo;
}

.profilePicture {
  height: 50px;
}

p {
  padding-bottom: 0;
}
