html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  /* The image used */
  background-image: url("../img/header-bgv2.PNG");
  /* Set height */
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#goog_info_card {
  display: none !important;
}

nav {
  z-index: 2;
}

.navbar-brand {
  width: 100%;
}

#___gcse_0 {
  padding: 0;
}

/* Place text in the middle of the image */

.hero-wrap {
  position: absolute;
  top: 48%;
  left: 50%;
  margin: 0;
  padding: 1% 0;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  background-color: indigo;
}

.hero-text .jumbotron {
  background-color: transparent;
}

.navbar {
  padding: 0 1rem;
}

.twitch {
  width: 100vw;
  height: 75vh;
  opacity:100;
}

/* FOOTER ELEMENTs */

.footer .navbar-brand {
  margin-right: 0;
}

.gsc-control-cse.gsc-control-cse-en {
  padding: 0;
}

.d-inline-flex.justify-content-between {
  width: 100%;
}
