html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  /* The image used */
  background-image: url("./img/header-bg.jpeg");
  /* Set height */
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
